- content_for :title do
  = t('menu.tasks')
- content_for :breadcrumb do
  .ui.eight.column.grid
    .column
    .twelve.wide.column
      .ui.breadcrumb
        %a.section{href: '/'}= t('pages.main')
        %i.right.arrow.icon.divider
        %a.section{href: '/tasks'}= t('pages.tasks')
        %i.right.arrow.icon.divider
        .active.section= @task.about
    .column

.ui.eight.column.grid
  .column
  .twelve.wide.column
    .ui.three.column.grid
      .column
        %img.rounded.ui.image.task_avatar{src: @task.user.avatar_url}
      .ten.wide.column
        .ui.segment
          .ui.relaxed.divided.list
            .item
              .content
                = @task.about
            .item
              .content
                = @task.get_date
            .item
              .content
                - if user_signed_in?
                  - if @task.apply?(current_user)
                    %a.ui.red.submit.button{ href: task_forget_path(@task) } Забыть
                  - else
                    %a.ui.blue.submit.button{ href: task_apply_path(@task) } Помочь
                - else
                  %a{href: '/users/sign_in'} Войдите
                  и у Вас появится возможность помочь
    .map_wrapper{id: 'single_map_wrapper'}
  .column
  = hidden_field_tag :task_id, @task.id