.ui.inverted.menu.fixed.large
  %a.item{ href: root_path }
    %i.home.icon
    = t('menu.main')
  %a.item{ href: tasks_path }
    %i.mail.icon
    = t('menu.tasks')
  - unless user_signed_in?
    %a.item{ href: new_user_session_path }
      %i.user.icon
      = t('menu.sign_in')
  - else
    %a.item{ href: user_path }
      %i.setting.icon
      = t('menu.settings')
    %a.item.sign_out{ url: destroy_user_session_path }
      %i.user.icon
      = t('menu.sign_out')