!!!
%html
  %head
    %title= yield :title
    = csrf_meta_tags
    = stylesheet_link_tag :application
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "//api-maps.yandex.ru/2.1/?lang=ru_RU"}
  %body
    .wrapper
      = render partial:'layouts/main_menu'
      = yield :breadcrumb
      = yield
      .footer-padding
  %footer
    &copy;
    %span
      ВолонтерДВ
  = javascript_include_tag :application