!!!
%html
  %head
    %title= yield :title
    = csrf_meta_tags
    = stylesheet_link_tag :application
  %body
    = render partial:'layouts/main_menu'
    = yield
  %footer
    = javascript_include_tag :application